
 <nav></nav>  
 <div class="header">
 
 </div>
 
 <div class="container">
    
    <div class="about">
       <div class="left">
          <h1>About us</h1>
          <hr>
          <p>A new restaurant has opened its doors in the heart of the city, offering a unique and diverse dining experience. The restaurant, named "KITCHEN_STORY" boasts an international menu that features dishes from countries around the globe.

            The interior of the restaurant is stylish and modern, with a warm and inviting atmosphere.</p>
           
 
                   <p>The spacious dining room is complete with comfortable seating, well-placed lighting, and elegant table settings.

                    The menu is a celebration of international cuisine, with something to suit every taste. The restaurant offers a variety of appetizers, entrees, and desserts, with options ranging from classic Italian pasta dishes to spicy Thai curries. In addition to the extensive food menu, Flavors of the World also offers a carefully curated selection of fine wines and craft beers to complement your meal.
                    
                    The restaurant prides itself on using only the freshest and highest-quality ingredients, ensuring that each dish is made with love and care</p>
 
       </div>
       <div class="right">
          <img src="./assets/restaurant2.jpg"class="img-circle" width="40%">
       </div>
       <div class="clear"></div>
    </div>
    
    
    
    <div class="mission">
      
       <div class="left">
          <img src="./assets/menu.jpg"width="40%">
       </div>
         <div class="right">
          <h1>Main Agenda</h1>
          <hr>
          <h2>Customer Satisfaction is Our Priority</h2>
          <p>We Are here because of all love and affection towards our Restaurant</p>
                   
 
       </div>
       <div class="clear"></div>
       
    </div>
    
    
   
        
    
 </div>
