     <!--Header-->

     <div class="card border-success text-center">
        <div class="card-header bg-transperent border-danger">
          <div class="text-center" style="background-color: rgb(255, 153, 0);">
            <h1>Kitchen_Story</h1>
          </div>
          
    </div>
    <!--navbar-->
  <div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
         
            <a href="#" class="nav-link" routerLink="home">HOME</a>
        </li>
  
        <li class="nav-item">
             <a href="#" class="nav-link" routerLink="about">About us</a>
        </li>
  
        <li class="nav-item">
          <a href="#" class="nav-link" routerLink="contact">Contact us</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" routerLink="admin">AdminDashboard</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" routerLink="payment">Payment</a>
        </li>
        
    </ul>
  </div>
  <div class="wrap">
    <div class="search">
       <input type="text" class="searchTerm" placeholder="What are you looking for?">
       <button type="submit" >
        
         <i class="fa fa-search"></i>
      </button>
    </div>
 </div>

   
<div>

<button class="btn btn-primary">search</button></div>
   
  
<router-outlet></router-outlet>