<p>admin works!</p>
<div class="container">
    <div class="title">
        <h2>Product Order Form</h2>
    </div>
  <div class="d-flex">
    <form action="" method="">
      <label>
        <span class="fname">First Name <span class="required">*</span></span>
        <input type="text" name="fname">
      </label>
      <label>
        <span class="lname">Last Name <span class="required">*</span></span>
        <input type="text" name="lname">
      </label>
      <label>
        <span>Items Name <span class="required">*</span></span>
        <input type="text" name="houseadd" placeholder="Items List you can add multiple items" required>
      </label>
      <label>
        <span>Company Name (Optional)</span>
        <input type="text" name="cn">
      </label>
      <label>
        <span>Area <span class="required">*</span></span>
        <select name="selection">
          <option value="select">Select a location...</option>
          <option value="AFG">Madhapur</option>
          <option value="ALA">Hitech city</option>
          <option value="ALB">Durgam Chervu</option>
          <option value="DZA">Ameerpet</option>
          <option value="ASM">Sr nagar</option>
          <option value="AND">Kukatpally</option>
          <option value="AGO">Uppal</option>
          <option value="AIA">Jubliee Hills</option>
          <option value="ATA">Banjara hills</option>

        </select>
      </label>
      <label>
        <span>Street Address <span class="required">*</span></span>
        <input type="text" name="houseadd" placeholder="House number and street name" required>
      </label>
      <label>
        <span>&nbsp;</span>
        <input type="text" name="apartment" placeholder="Apartment, suite, unit etc. (optional)">
      </label>
      <label>
        <span>Town / City <span class="required">*</span></span>
        <input type="text" name="city"> 
      </label>
      <label>
        <span>State / County <span class="required">*</span></span>
        <input type="text" name="city"> 
      </label>
      <label>
        <span>Postcode / ZIP <span class="required">*</span></span>
        <input type="text" name="city"> 
      </label>
      <label>
        <span>Phone <span class="required">*</span></span>
        <input type="tel" name="city"> 
      </label>
      <label>
        <span>Email Address <span class="required">*</span></span>
        <input type="email" name="city"> 
      </label>
      <div>
        <button class="btn btn-primary">Submit</button>
    </div>
    </form>
   
   
