
<div class="container">
       <!--location-->
       <div class="col-md-4 mb-3">
        <h2>Please Select Mode of Payment</h2>
        <div class="form-check form-check-inline">
           <input type="radio" value="l1" id="l1" name="location1" class="form-check-input">
           <label for="ch1" class="form-check-label">Debit card</label>

        </div>


        <div class="form-check form-check-inline">
           <input type="radio" value="l2" id="l2" name="location2" class="form-check-input">
           <label for="ch2" class="form-check-label">Credit Cards</label>
          
        </div>

        <div class="form-check form-check-inline">
           <input type="radio" value="l3" id="l3" name="location3" class="form-check-input">
           <label for="ch3" class="form-check-label">Paytm    </label>
       
        </div>

        <div class="form-check form-check-inline">
           <input type="radio" value="l4" id="l4" name="location4" class="form-check-input">
           <label for="ch4" class="form-check-label">Googlepay</label>
           
        </div>
        

   </div>
<div>
    <button (click)="MyClickFunction()" class="btn btn-success">Pay Now</button>
</div>
